@import './default.scss';

.theme-EISThemeDefault2 {
  --q-primary   : #00a344;
  --q-secondary : #487bc2;
  --q-accent    : #4067c9;
  --q-dark      : #303030;
  --q-positive  : #074f18;
  --q-negative  : #a10013;
  --q-info      : #58b4c7;
  --q-warning   : #f2e338;

  --content-max-width: 100%;
}
