$bodyBackground: #FAFAFA;
$background: rgba(255,255,255,1);

$primary   : #188595;
$secondary : #E09E10;
$accent    : #E09E10;

$dark      : #403e3e;

$positive  : #0CAFCC;
$negative  : #820909;
$info      : #2a9ab0;
$warning   : #E09E10;
